<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/evgen/IdeaProjects/automation/src/test/java/live/tests">
        <classes>

            <class name="TestLogin">
                <methods>
                    <include name="liveLoginArrayTest"/>

                </methods>
            </class>


        </classes>
    </test>
</suite>